.header{
    display: flex;
    align-items: center;
}
.maintxt{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-left: 0.75rem;
}
.subtxt{
    color: #4b5563;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-left: 0.75rem;
}
.bg{
    background-color: #2563eb;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.25rem; line-height: 1.75rem;
}