.container {
  display: flex;
  align-items: center;
  padding: 1.3rem;
  margin: 0 0 1.5rem 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.maintxt {
  font-size: 1.5rem;
  font-weight: bold;
}

.subtxt {
  color: #4b5563;
  font-size: 1rem;
}

.icon {
  margin-right: 1rem;
  color: white;
  background-color: blue;
  border-radius: 0.5rem;
  font-size: 2.5rem;
}
