.container {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  justify-content: center;
  gap: 15px 20px;
}

@media (max-width: 740px) {
  .container {
    grid-template-columns: 350px;
  }
}
